asgiref==3.8.1
boto3==1.37.23
botocore==1.37.23
certifi==2025.1.31
cffi==1.16.0
charset-normalizer==3.3.2
cryptography==44.0.2
dj-database-url==2.1.0
Django==5.1.7
django-anymail==12.0
django-cors-headers==4.7.0
django-jazzmin==3.0.1
django-storages==1.12.3
django-ckeditor-5==0.2.17
djangorestframework==3.16.0
djangorestframework-simplejwt==5.5.0
drf-yasg==1.21.10
environs==14.1.1
gunicorn==23.0.0
idna==3.10
inflection==0.5.1
jmespath==1.0.1
marshmallow==3.26.1
packaging==24.2
psycopg2-binary==2.9.9
pycparser==2.22
PyJWT==2.9.0
python-dateutil==2.9.0
python-dotenv==1.1.0
pytz==2025.2
PyYAML==6.0.2
requests==2.32.3

shortuuid==1.0.13
six==1.17.0
sqlparse==0.5.3
stripe==11.6.0
typing_extensions==4.13.0
tzdata==2025.2
uritemplate==4.1.1
urllib3==2.3.0
